body{
    background: linear-gradient(to top left, yellow 34%, green 65%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cuadro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.cuadro h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}

.cuadro form{
    padding: 0 40px;
    box-sizing: border-box;
}

.cuadro input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: green;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: yellow;
    transition: .5s;
}